name: Publish to PyPI

on:
  push:
    tags: "*"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      repository-projects: write
      contents: write
      pages: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox

      - name: Test with tox
        run: |
          tox

      - name: Build Project and Publish
        run: |
          python -m tox -e clean,build

      # This uses the trusted publisher workflow so no token is required.
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1

      - name: Build docs
        run: |
          tox -e docs

      - run: touch ./docs/_build/html/.nojekyll

      - name: GH Pages Deployment
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages # The branch the action should deploy to.
          folder: ./docs/_build/html
          clean: true # Automatically remove deleted files from the deploy branch
